name: Node CD

on:
  workflow_run:
    workflows: ["Node CI"]
    types:
      - completed


jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' && github.event.workflow_run.event == 'push' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            # Pull latest Docker image
            docker pull ${{ secrets.DOCKER_USERNAME }}/library-api:latest

            # Stop old container if exists
            docker stop library-app || true

            # Remove old container if exists
            docker rm library-app || true

            # Run new container
            docker run -d -p 3000:3000 --name library-app ${{ secrets.DOCKER_USERNAME }}/library-api:latest
